*-debug.log
*-error.log
**/.DS_Store
/.idea
/dist
/tmp
/node_modules
node_modules
/coverage


package-lock.json
pnpm-lock.yaml
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions



